version: '3.8'

services:

  mysql:
    image: mysql:latest
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: booksdb
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - ms-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  eureka-server:
    image: codebyarunyadav/eureka-server:master-54a8eb8
    container_name: eureka-server
    ports:
      - "8761:8761"
    networks:
      - ms-network

  api-gateway:
    image: codebyarunyadav/api-gateway:master-54a8eb8
    container_name: api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - eureka-server
    networks:
      - ms-network

  book-service:
    image: codebyarunyadav/book-service:master-54a8eb8
    container_name: book-service
    ports:
      - "8081:8081"
    depends_on:
      mysql:
        condition: service_healthy
      eureka-server:
        condition: service_started
    networks:
      - ms-network

  author-service:
    image: codebyarunyadav/author-service:master-54a8eb8
    container_name: author-service
    ports:
      - "8082:8082"
    depends_on:
      mysql:
        condition: service_healthy
      eureka-server:
        condition: service_started
    networks:
      - ms-network

  rating-service:
    image: codebyarunyadav/rating-service:master-54a8eb8
    container_name: rating-service
    ports:
      - "8083:8083"
    depends_on:
      mysql:
        condition: service_healthy
      eureka-server:
        condition: service_started
    networks:
      - ms-network

networks:
  ms-network:
    driver: bridge

volumes:
  mysql_data:

