server:
  port: 8082

spring:
  application:
    name: BOOK-SERVICE
  datasource:
    url: jdbc:mysql://localhost:3306/booksdb?createDatabaseIfNotExist=true&useSSL=false
    username: root
    password: admin
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
